
/*
    Top level drop zone styles
*/
.profile-picture-section {

    margin: 30 auto;
    padding-top: 15px;
}

.profile-picture-section-drop-zone {

    margin: 0 auto;

    border-radius: 30px;

    width: 100px;
    height: 100px;
}

/*
    No image requests styles
*/
.profile-picture-section-request-image-group {

    border-style: dashed;
    border-width: 2px;
    border-radius: 30px;
    border-color: #979797;

    width: 100%;
    height: 100%;

    text-align: center;

}

.profile-picture-section-request-image-instructions {

    position: relative;
    color: #979797;

    font-size: 12px;

    top: 40px;
    width: 100%;
}

/*
    Profile image
*/
.profile-picture-section-request-image-container {

    width: 100%;
    height: 100%;

    overflow: hidden;
    position: relative;

    border-radius: 30px;
}

.profile-picture-section-request-image {

    width: 100%;
    height: 100%;
    object-fit: cover
}

/*
    End of presentation limitations
*/
.profile-picture-section-limitations {

    text-align: center;
    color: #979797;

    font-size: 12px;

    padding-top:5px;
}
