.disable-styles-group {

    margin: 30 auto;
    padding-top: 15px;
}

.disable-styles-limitations-content-group {

    margin: 0 auto;

    border-style: dashed;
    border-width: 2px;
    border-radius: 30px;
    border-color: #979797;

    width: 100px;
    height: 100px;

    text-align: center;
}

.disable-styles-limitations-content-instructions {

    position: relative;
    color: #979797;

    text-align: center;

    font-size: 12px;

    top: 40px;
    width: 100%;
}

.disable-styles-limitations {

    text-align: center;
    color: #979797;

    font-size: 12px;

    padding-top:5px;
}
